/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/*  белый #FFFFFF */
/* меил и тел в футере rgba(255, 255, 255, 0.6) */
/* акцент  #2196F3 */
/* основной цвет фона #FFFFFF */
/* вторичный цвет фона  #F5F4FA */
/* цвет фона футера #2F303A */

/* Hero */
.hero .title {
  color: var(--secondary-text-color);
}
/* Headlines */
.section .title {
  color: var(--title-text-color);
}

.activity .title {
  color: var(--secondary-text-color);
}

/* Features */

/* Our teem */
.team {
  background-color: var(--secondary-bg-color);
}
.team .list {
  background-color: #ffffff;
}

.team .list.link:hover,
.team .list.link:focus {
  color: var(--accent-color);
}
