root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

/* Body */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}

/* Navigation */
/* Logo */
.logo {
  color: var(--accent-color);
}
.logo-word {
  color: var(--title-text-color);
}
.logo-text {
  color: var(--secondary-text-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.address .link {
  color: var(--title-text-color);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero .title {
  color: var(--secondary-text-color);
}

/* Headlines */
.section .title {
  color: var(--title-text-color);
}
.activity .title {
  color: var(--secondary-text-color);
}

/* Features */
.features .image:hover,
.features .image:focus {
  background-color: var(--accent-color);
}
/* Our team */
.team {
  background-color: var(--secondary-bg-color);
}
.team .list {
  background-color: var(--primary-bg-color);
}
.team .list.link:hover,
.team .list.link:focus {
  color: var(--accent-color);
}

/* Footer */
footer {
  background-color: var(--footer-bg-color);
}
address {
  color: var(--secondary-text-color);
}
.contacts {
  color: rgba(255, 255, 255, 0.6);
}
.join .text {
  color: var(--secondary-text-color);
}
.join .list.a:hover,
.join .list.a:focus {
  color: var(--accent-color);
}

/* Button */
.button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
