root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

/* Body */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}

/* Navigation */
/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
}
.logo-word {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
}
.logo-text {
  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.address .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero .title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Headlines */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.activity .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

/* Features */
.features .image:hover,
.features .image:focus {
  background-color: var(--accent-color);
}
/* Our team */
.team {
  background-color: var(--secondary-bg-color);
}
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team .list {
  background-color: var(--primary-bg-color);
}
.team .list.link:hover,
.team .list.link:focus {
  color: var(--accent-color);
}
.team .p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* PORTFOLIO */
.menu .button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.menu .button:hover,
.menu .button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.section-list .text {
  color: var(--secondary-text-color);
}
.section-list .title {
  letter-spacing: 0.06em;
}

/* Footer */
footer {
  background-color: var(--footer-bg-color);
}
address {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}
.contacts {
  color: rgba(255, 255, 255, 0.6);
}
.join .text {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.join .list.a:hover,
.join .list.a:focus {
  color: var(--accent-color);
}

/* Button */
.button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
