root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

/* Body */
body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}

/* Navigation */
/* Logo */
.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  text-decoration: none;
}
.logo .main {
  color: #212121;
}
.logo .accent {
  color: #ffffff;
}

/* Site nav */
.site-nav .link {
  color: #212121;
  font-weight: 500;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: #2196f3;
}
.address .link,
.site-nav .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.address .link {
  color: #757575;
  font-weight: 400;
}

.address .link:hover,
.address .link:focus {
  color: #2196f3;
}

/* Hero */
.hero {
  background-color: #2f303a;
}
.hero .title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Headlines */
.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section .title {
  color: #212121;
}
.activity .title {
  color: #ffffff;
  text-align: center;
}
.activity .title,
.section .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* Features */
.features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.features .image:hover,
.features .image:focus {
  background-color: #2196f3;
}
/* Our team */
.team {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.19;
}
.team .text {
  font-weight: 400;
}
.team .title {
  font-weight: 500;
  text-align: center;
}
.team .list {
  background-color: #ffffff;
}
.team .list.link:hover,
.team .list.link:focus {
  color: #2196f3;
}
.team .p {
  font-weight: 400;
  text-align: center;
}

/* PORTFOLIO */
.menu .button {
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.menu .button:hover,
.menu .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.section-list .text {
  color: #ffffff;
}
.section-list .title {
  letter-spacing: 0.06em;
}

/* Footer */
footer {
  background-color: #2f303a;
}
address {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.contacts {
  color: rgba(255, 255, 255, 0.6);
}
.join .text {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.join .list.a:hover,
.join .list.a:focus {
  color: #2196f3;
}

/* Button */
.button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
}
